<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="elevregwpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <elevregwpf.Properties.Settings>
            <setting name="Sqlcon" serializeAs="String">
                <value>Data Source=192.168.0.249;Initial Catalog=doregistreing; User ID=sa; Password=Qwert12345!;Max Pool Size=10000;Connect Timeout=5;</value>
            </setting>
        </elevregwpf.Properties.Settings>
    </userSettings>
</configuration>